[Unit]
Description=Background Changer Script

[Service]
WorkingDirectory=/home/{USERNAME}/projects/background-changer/
ExecStart=/usr/bin/python3 main.py
Restart=always

[Install]
WantedBy=multi-user.target